body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a,
.details {
  color: #eff6f8;
  text-decoration: none;
  font-weight: bolder;
}
.details {
  height: 100px;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drone-list {
  background-color: rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  width: 40%;
  border-radius: 15px;
  padding-top: 20px;
  margin: 10px;
}

.allpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myBtns {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
.myBtns button {
  width: 75px;
  font-weight: bolder;
}

.mb-3 {
  background-color: #212529;
  width: 400px;
  color: whitesmoke;
  padding: 10px;
}
